@import url('https://fonts.googleapis.com/css2?family=Peddana&family=Poppins&display=swap');


.App {
  text-align: center;
}

.mainContainer {
  margin: 10%;
}

.quote {
  font-family: 'Peddana', serif;
}

.button {
  margin: 5%;
  padding: 1%;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
}